<h2>Products Page</h2>
<h3>Product Data</h3>
<section>
    <table id="products-table">
        <thead>
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <td>{{this.productID}}</td>
                <td>{{this.name}}</td>
                <td>${{this.storeCost}}</td>
                <td>${{this.salePrice}}</td>
                <td>{{this.developer}}</td>
                <td>{{this.publisher}}</td>
                <td>{{this.supplier}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <h3>Add a New Product</h3>
    <form class="products-form" id="add-product-form" method="POST" action="/add-product">
        <label for="input-name">Name:</label>
        <input type="text" name="input-name" id="input-name" required placeholder="Tears of the Kingdom">

        <label for="input-storeCost">Store Cost:</label>
        <input type="number" name="input-storeCost" id="input-storeCost" min="0" step=".01" required placeholder="30">

        <label for="input-salePrice">Sale Price:</label>
        <input type="number" name="input-salePrice" id="input-salePrice" min="0" step=".01" required placeholder="70">

        <label for="input-developer">Developer:</label>
        <input type="text" name="input-developer" id="input-developer" placeholder="Smart People">

        <label for="input-publisher">Publisher:</label>
        <input type="text" name="input-publisher" id="input-publisher" placeholder="Nintendo">
        
        <label for="input-productType">Product Type:</label>
        <select name="input-productType" id="input-productType">
            <option value="">None</option>
            {{#each types}}
            <option value="{{this.productTypeID}}">{{this.typeName}}</option>
            {{/each}}
        </select></br>
        
        <label for="input-supplier">Supplier:</label>
        <select name="input-supplier" id="input-supplier" required>
            {{#each suppliers}}
            <option value="{{this.supplierID}}">{{this.name}}</option>
            {{/each}}
        </select>

        <input type="submit" value="Add Product" />
    </form>
</section>