<h2>Products Page</h2>
<section>
    <table id="products-table">
        <thead>
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <td>{{this.productID}}</td>
                <td>{{this.name}}</td>
                <td>${{this.storeCost}}</td>
                <td>${{this.salePrice}}</td>
                <td>{{this.developer}}</td>
                <td>{{this.publisher}}</td>
                <td>{{this.typeName}}</td>
                <td>{{this.supplier}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>