<h2>Sales Page</h2>
<section>
    <table id="sales-table">
        <thead>
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <td>{{this.orderID}}</td>
                <td>{{this.orderDate}}</td>
                <td>{{this.firstName}}</td>
                <td>{{this.lastName}}</td>
                <td>{{this.phoneNumber}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <h3>Add an Order:</h3>
    <form class="sales-form" id="add-sales-form">
        <label for="input-name">Date:</label>
        <input type="date" name="input-date" id="input-date" required>

        <label for="input-customer">Customer:</label>
        <input type="number" name="input-customer" id="input-customer" required>

        <input type="submit" value="Add Sales" />
</section>