<h2>Sales Page</h2>
<h3>Sales Data</h3>
<section>
    <table id="sales-table">
        <thead>
            <tr>
                <th></th>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr data-value={{this.orderID}}>
                <td><button onclick="deleteSale({{this.orderID}})">Delete</button></td>
                <td>{{this.orderID}}</td>
                <td>{{this.orderDate}}</td>
                <td>{{this.firstName}}</td>
                <td>{{this.lastName}}</td>
                <td>{{this.phoneNumber}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <script src="./js/delete_sale.js"></script>

    <h3>Add an Order</h3>
    <form class="add-sales-form" id="add-sales-form" method="POST" action="/add-sales">
        <label for="input-date">Date:</label>
        <input type="date" name="input-date" id="input-date" required>

        <label for="input-customer">Customer:</label>
        <select name="input-customer" id="input-customer" required>
            {{#each people}}
            <option value="{{this.customerID}}">{{this.firstName}} {{this.lastName}} - {{this.phoneNumber}}</option>
            {{/each}}
        </select>

        <input type="submit" value="Add Sales" />
    </form>
    <h3>Update the Customer on an Order</h3>
    <form id="update-order-form">
        <label for="update-order">Select an Order to Update:</label>
        <select name="update-order" id="update-order">
            {{#each data}}
            <option value="{{this.orderID}}">{{this.orderID}} - {{this.orderDate}} {{this.firstName}} {{this.lastName}}</option>
            {{/each}}
        </select></br>

        <label for="input-new-customer">Who does this order belong to?</label>
        <select name="input-new-customer" id="input-new-customer">
            {{#each people}}
            <option value="{{this.customerID}}">{{this.firstName}} {{this.lastName}}</option>
            {{/each}}
        </select>

        <input type="submit" value="Update Customer" />
    </form>
    <script src="./js/update_order.js"></script>
    
    <h3>Update the Date an Order was Placed</h3>
    <form id="update-date-form">
    
    <label for="input-order-date">Which Order?</label>
    <select name="input-order-date" id="input-order-date">
        {{#each data}}
        <option value="{{this.orderID}}">{{this.orderID}} - {{this.orderDate}} {{this.firstName}} {{this.lastName}}</option>
        {{/each}}
    </select></br>

    <label for="input-new-date">What is the actual date?</label>
    <input type="date" name="input-new-date" id="input-new-date" required>

    <input type="submit" value="Update Date">

    </form>
    <script src="./js/update_date.js"></script>
</section>