<h2>Sales Page</h2>
<section>
    <table id="sales-table">
        <thead>
            <tr>
                <th></th>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr data-value={{this.orderID}}>
                <td><button onclick="deleteSale({{this.orderID}})">Delete</button></td>
                <td>{{this.orderID}}</td>
                <td>{{this.orderDate}}</td>
                <td>{{this.firstName}}</td>
                <td>{{this.lastName}}</td>
                <td>{{this.phoneNumber}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <script src="./js/delete_sale.js"></script>

    <h3>Add an Order:</h3>
    <form class="add-sales-form" id="add-sales-form">
        <label for="input-name">Date:</label>
        <input type="date" name="input-date" id="input-date" required>

        <label for="input-customer">Customer:</label>
        <select name="input-customer" id="input-customer" required>
            {{#each people}}
            <option value="{{this.customerID}}">{{this.firstName}} {{this.lastName}} - {{this.phoneNumber}}</option>
            {{/each}}
        </select>

        <input type="submit" value="Add Sales" />
    </form>
    <h3>Refund a Sale (Delete):</h3>
    <form class="sales-form" id="delete-sales-form">
        <label for="delete-sales">Find the Sale (By Date and Customer):</label>
        <select name="delete-sales" id="delete-sales" required>
            <option>Test</option>
        </select>

        <input type="submit" value="Delete Sales" />
    </form>
</section>