<h2>Item Sales Page</h2>
<section>
    <table id="products-table">
        <thead>
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <td>{{this.saleDetailID}}</td>
                <td>{{this.orderDate}}</td>
                <td>{{this.orderID}}</td>
                <td>{{this.firstName}}</td>
                <td>{{this.lastName}}</td>
                <td>{{this.productName}}</td>
                <td>${{this.salePrice}}</td>
                <td>{{this.qtyPurchased}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <h3>Add a Transaction to Order:</h3>
    <form class="sales-details-form" id="add-sales-details-form">
        <label for="input-order">Order:</label>
        <select name="input-order" id="input-order" required>
            <option value="Test">TEST</option>

        </select>

        <label for="input-product">Customer:</label>
        <select name="input-product" id="input-product" required>
            <option value="Test">TEST</option>

        </select>

        <label for="input-qty">Quantity:</label>
        <input type="number" name="input-qty" id="input-qty" required>

        <input type="submit" value="Add Product" />
    </form>
</section>