<h2>Suppliers Page</h2>
<h3>Supplier Data</h3>
<section>
    <table id="suppliers-table">
        <thead>
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <td>{{this.supplierID}}</td>
                <td>{{this.name}}</td>
                <td>{{this.phoneNumber}}</td>
                <td>{{this.emailAddress}}</td>
                <td>{{this.streetAddress}}</td>
                <td>{{this.streetAddress2}}</td>
                <td>{{this.city}}</td>
                <td>{{this.state}}</td>
                <td>{{this.zip}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <h3>Add a New Supplier</h3>
    <form class="suppliers-form" id="add-supplier-form" method="POST" action="add-supplier">
        <label for="input-name">Name:</label>
        <input type="text" name="input-name" id="input-name" required placeholder="Distribution Anon">

        <label for="input-phone">Phone Number:</label>
        <input type="number" name="input-phone" id="input-phone" required placeholder="555-555-5555">

        <label for="input-email">Email Address:</label>
        <input type="email" name="input-email" id="input-email" required placeholder="realgoodz@aol.com">

        <label for="input-address1">Street Address (Line 1):</label>
        <input type="text" name="input-address1" id="input-address1" placeholder="20934 Smith Rd.">

        <label for="input-address2">Street Address (Line 2)</label>
        <input type="text" name="input-address2" id="input-address2" placeholder="Plot B">
        
        <label for="input-city">City:</label>
        <input type="text" name="input-city" id="input-city" placeholder="Simi Valley">
        
        <label for="input-state">State:</label>
        <input type="text" name="input-state" id="input-state" maxlength="2" required placeholder="CA">

        <label for="input-zip">ZIP:</label>
        <input type="number" name="input-zip" id="input-zip" placeholder="98073">

        <input type="submit" value="Add Supplier" />
        </form>
</section>